.visa-container {
    background-image: url(/public/assets/banners/visa.png);
    background-color: transparent;
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 300px;
  }

  @media (max-width: 900px) {
    .card-container {
      margin: 20px;
    }
  }
  @media (max-width: 768px) {
    .card-container {
      margin:20px;
    }
  }
  
/* Styles for the card container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Styles for each card */
.card {
  width: 400px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #2C3A90;
  border-radius: 10px;
}

/* Styles for card images */
.card-image {
  max-width: 100%;
  height: auto;
}

/* Styles for card names */
.card-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  color: #fff;
}

/* Styles for card paragraphs */
.card-paragraph {
  margin-top: 10px;
  font-size: 16px;
  padding: 10px;
  color: #fff;
}

/* Styles for the "More Info" button */
.card-button {
  margin-top: 10px;
  background-color: #fff;
  color: #2C3A90;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}
