.About-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  padding-left: 60px;
  padding-top: 40px;
  padding-bottom:20px;
  background-image: url(/public/assets/banners/About.png);
  background-color: transparent;
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 450px;
}

.about-paragraph-content{
  text-align: justify;
  font-family: 'Open Sans', sans-serif; 
  font-size: 18px;
}
.about-paragraph-heading{
  text-align: justify;
  color: #2C3A90;
}
.about-paragraph-heading1{
  text-align: justify;
  color: #fff;
}

.About-item {
  flex: 1; /* Equal width for both items */
  margin: 10px;
  padding-right: 20px;
  min-width: 240px; /* Set a minimum width for the items */
}
.Aboutus_flex_img {
  border-radius: 20px;
}

.About-container1 {
  display: flex;
  background-color: #fff;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  color: #000;
  flex-wrap: wrap-reverse; /* Allow items to wrap to the next line on smaller screens */
}

.About_icon_container {
  display: flex;
  flex-wrap: wrap; /* Wrap items to the next line on smaller screens */
  justify-content: space-around; /* Distribute items evenly */
}

.About-container2 {
  display: flex;
  background-color: #2C3A90;
  color: #fff;
  border: 1px solid #fff;
  border-left: none; /* Remove left border */
  border-right: none; /* Remove right border */
  border-bottom: none; /* Remove bottom border */
  padding-inline: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.About_icon {
  flex-basis: calc(
    15% - 10px
  ); /* Equal width for each item, accounting for spacing */
  font-size: 50px;
  color: #fff;
  padding: 15px;
  margin-left: 40px; 
  box-sizing: border-box; /* Include padding and border in item width */
}

.About-button {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  color: #fff;
  border: none;
  background-color: #0067da;
}

.About-arrow-icon {
  padding-left: 20px;
}

/*About-cilent-container Container for flexboxes */
.About-cilent-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.About-cilent-box {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 60px;
}

/* Create four equal columns */
.About-cilent-item {
  flex: 20%;
  margin-left: 10px;
  text-align: center;
}
.About-cilent-header {
  font-weight: 600;
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .About-cilent-item {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .About-cilent-box {
    flex-direction: column;
  }
}


/*About us services*/

.About-Services-Heading{
  text-align: center;
  padding: 20px;
  color: #2C3A90;
}
.About-Services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust as needed */
  padding-bottom: 40px;
}

.About-Service {
  flex: 1;
  background-color: #D6f8ff;
  padding: 20px;
  margin: 10px;
  text-align: center;
  color: #000;
}

.About-Service img {
  max-width: 100%;
  height: auto;
}
.About-Service-content{
  padding: 10px;
  font-family: 'Open Sans', sans-serif; 
  font-size: 18px;
  font-weight: normal; 
  line-height: 1.5; 
}
/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .About-Services-container {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-left: 10px;
  }

  .About-Service {
    width: 100%;
  }
}

