/* CountrySearchBar.module.css */
.search-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Adjust this as needed */
  border: 1px solid #fff;
  align-items: center;
}

.search-select-container {
  flex: 1;
  margin-right: 10px; /* Space between selects */
}

.search-go-button {
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .search-select-container {
    margin-right: 0; /* Remove spacing between selects */
  }

  .search-go-button {
    width: 100%;
  }
}
