body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.serach-box-homepage-src{
  width: 400px !important;
  border: rgb(226, 218, 218) 2px solid !important;
}
.serach-box-homepage-dest{
  width: 400px !important;
    border: rgb(224, 209, 209) 2px solid !important;
}

.search-container {
  /* position: absolute; */
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

/* @media screen and(max-width:320px) {
  .search-container {
    position: relative;
    margin-top: 20px;
  }
} */
.select-box {
 width: 250px;
  /* height: 30px;
  border-radius: 10px;
  margin-left: 20px; */
}

.search-button {
  background-color: #2c3a90;
  border-radius: 30px;
  color: white;
  padding: 12px !important;
  font-size: 16px;
  border: none;
  /* margin-left: 20px; */
  cursor: pointer;
}

.country-flag {
  margin-right: 5px;

}

.country-label {
  vertical-align: Left;
  color: #000;
}

@media (max-width: 768px) {
  .search-container {
    /* flex-direction: column; */
    position: relative;
    margin-top: 20px;
  }
}

@media (min-width: 629px) {
  .search-container {
    /* flex-direction: column; */
    position: absolute;
    left: 55%;
    /*top: 45%;*/
    transform: translate(-50%, -50%);
    /* margin-top: 20px; */
  }
}

@media (min-width: 901px) {
  .search-container {
    /* flex-direction: column; */
    position: absolute;
    left: 55%;
    /*top: 30%;*/
    transform: translate(-50%, -50%);
    /* margin-top: 20px; */
  }
}
.css-1nmdiq5-menu {
  max-height: 250px;
  overflow: hidden;
  z-index: 1000 !important;
}

.css-1nmdiq5-menu > div > div {
  padding-block: 5px;
}
.css-1nmdiq5-menu > div > div:hover {
  background-color: #2c3a90;
  color: azure;
}

@media (max-width: 500px) {
.serach-box-homepage-src {
    width: 280px !important;
    border: rgb(226, 218, 218) 2px solid !important;
  }

  .serach-box-homepage-dest {
    width: 280px !important;
    border: rgb(224, 209, 209) 2px solid !important;
  }
}