body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.search-container {
  /* position: absolute; */
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

/* @media screen and(max-width:320px) {
  .search-container {
    position: relative;
    margin-top: 20px;
  }
} */
.select-box {
 /* width: 250px;*/
  /* height: 30px;
  border-radius: 10px;
  margin-left: 20px; */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 17px;
}

.search-button {
  background-color: #2c3a90;
  border-radius: 30px;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  /* margin-left: 20px; */
  cursor: pointer;
}

.country-flag {
  margin-right: 5px;

}

.country-label {
  vertical-align: Left;
  color: #000;
}

@media (max-width: 768px) {
  .search-container {
    /* flex-direction: column; */
    position: relative;
    margin-top: 20px;
  }
}

@media (min-width: 629px) {
  .search-container {
    /* flex-direction: column; */
    position: absolute;
    left: 50%;
    /*top: 45%;*/
    transform: translate(-50%, -50%);
    /* margin-top: 20px; */
  }
}

@media (min-width: 901px) {
  .search-container {
    /* flex-direction: column; */
    position: absolute;
    left: 50%;
    /*top: 30%;*/
    transform: translate(-50%, -50%);
    /* margin-top: 20px; */
  }
}
.css-1nmdiq5-menu {
  max-height: 250px;
  overflow: hidden;
  z-index: 1000 !important;
}

.css-1nmdiq5-menu > div > div {
  padding-block: 5px;
}
.css-1nmdiq5-menu > div > div:hover {
  background-color: #2d3845;
  color: azure;
}
