/* Afghanistana.css */
.container {
    display: flex;
    flex-direction: column; /* Stack flex containers vertically on smaller screens */
  }
  
  .left-flex {
    flex: 70%; /* Take up 70% of the available space */
    padding: 20px;
    text-align: center;
  }
  
  .right-flex {
    flex: 30%; /* Take up 30% of the available space */
    padding: 20px;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    /* On screens with a minimum width of 768px, change to a row layout */
    .container {
      flex-direction: row;
    }
  
    .left-flex {
      flex: 70%; /* Take up 70% of the available space */
    }
  
    .right-flex {
      flex: 30%; /* Take up 30% of the available space */
    }
  }
  
  
  .Country-header{
    margin: 10px;
    color: #fff;
    font-weight: 700;
}
.Country-header-content{
    margin: 10px;
    color: #072f5f;
    font-weight: 700;
}
.Country-passage{
    align-items: center;
    padding: 40px;
}

  .Country-form {
    flex: 1; 
    min-width: 200px; 
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #072f5f;
    text-align: center;
  }

 .country-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 17px;
  }

  .country_submit {
    width: 40%;
    color: #072f5f;
    background-color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .country_label {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: justify;
    color: #fff;
  }
  
  .checkbox {
    margin-top: 20px;
    height: 15px;
    width: 30px;
    accent-color: #072f5f;
  }
  


  

  
  