/* Afghanistana.css */
.country-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;
  }
  
  .country-container-service {
    background-color: #072f5f;
    padding: 10px;
    color: #fff;
    flex: 40%;
    margin: 20px;
    border-radius: 20px;
  }
  
  
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .country-container-service{
      flex: 100%;
    }
  }
  .Moreinfo-container {
      display: flex;
      flex-direction: column; /* Stack flex containers vertically on smaller screens */
    }
    
    .Moreinfo-left-flex {
      flex: 65%; /* Take up 70% of the available space */
      padding: 20px;
      text-align: center;
    }
    
    .Moreinfo-right-flex {
      flex: 35%; /* Take up 30% of the available space */
      padding: 20px;
      text-align: center;
    }
    
    @media (min-width: 768px) {
      /* On screens with a minimum width of 768px, change to a row layout */
      .Moreinfo-container {
        flex-direction: column;
      }
    
      .Moreinfo-left-flex {
        flex: 65%; /* Take up 70% of the available space */
      }
    
      .Moreinfo-right-flex {
        flex: 35%; /* Take up 30% of the available space */
      }
    }
    
    
    .Country-header{
      margin: 10px;
      color: #fff;
      font-weight: 700;
  }
  .Country-header-content{
      margin: 10px;
      padding: 10px;
      color: #072f5f;
      font-weight: 700;
  }
  .Country-passage{
      align-items: center;
      padding: 40px;
  }
  
    .Country-form {
      flex: 1; 
      min-width: 200px; 
      margin: 10px;
      padding: 30px;
      border-radius: 10px;
      border: 1px solid #ccc;
      background-color: #072f5f;
      text-align: center;
    }
  
   .country-input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 17px;
    }
  
    .country_submit {
      width: 40%;
      color: #072f5f;
      background-color: #fff;
      font-size: 20px;
      font-weight: 600;
      padding: 10px;
      margin: 8px 0;
      border: none;
      border-radius: 30px;
      cursor: pointer;
    }
    
    .country_label {
      font-size: 16px;
      margin-bottom: 10px;
      text-align: justify;
      color: #fff;
    }
    
    .checkbox {
      margin-top: 20px;
      height: 15px;
      width: 30px;
      accent-color: #072f5f;
    }
    
   
    /* FlexBoxes2.css */
    .country-container-two {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; /* Adjust as needed */
      align-items: center; /* Adjust as needed */
    }
    
    .country-services {
      flex-basis: calc(33.33% - 20px); /* Adjust as needed */
      margin: 10px;
      padding: 20px;
      border: 1px solid #ccc;
      text-align: center;
      background-color: #072f5f;
      color: #fff;
      font-size: 18px;
      border-radius: 20px;
      box-sizing: border-box;
    }
    
    @media screen and (max-width: 768px) {
      .country-services {
        flex-basis: calc(50% - 20px); /* Adjust as needed for smaller screens */
      }
    }
    
    @media screen and (max-width: 576px) {
      .country-services {
        flex-basis: 100%; /* Full width for the smallest screens */
      }
    }
    
    .country-service-header{
      font-weight: 700;
      padding: 10px;
      font-size: 22px;
    }
  
  /* FlexItems.css */
  .Application-process-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; /* Adjust as needed */
      padding: 20px;
      margin: 30px;
    }
    
    .Application-item {
      flex-basis: calc(50% - 10px); /* Two items per row; Adjust as needed */
      margin: 5px;
      padding: 20px;
      border: 1px solid #072f5f;
      border-radius: 20px;
      font-size: 18px;
      color: #000;
      background-color: #D6F8FF;
      text-align: center;
      box-sizing: border-box;
    }
    
    @media screen and (max-width: 768px) {
      .Application-item {
        flex-basis: 100%; /* One item per row for smaller screens */
      }
    }
    
    .Application-item-heading{
      color: #072f5f;
      font-size: 25px;
      font-weight: 700;
      padding: 5px;
    }