.passport{
  margin: 40px 40px 40px 40px;
}
.passport-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px; /* To offset column gaps */
  }

.passport-header{
    font-weight: 700;
    padding-left:40px ;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right:40px;
}

.passport-sub-header{
    font-weight: 500;
    padding-left:40px ;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right:40px;
}
  
  .card {
    flex-basis: calc(33.33% - 20px); /* Adjust for 3 columns with gaps */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px; /* Create gaps between cards */
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card h2 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .card p {
    font-size: 0.9rem;
    margin-top: 5px;
  }
  