.passport-container {
  background-image: url(/public/assets/banners/passport.png);
  background-color: transparent;
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 300px;
}

.passport-header{
  font-weight: 700;
  padding-left:40px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right:40px;
  color: #2C3A90;
}

.passport-sub-header{
  font-weight: 500;
  padding-left:40px ;
  padding-bottom: 20px;
  padding-right:40px;
}

.passport {
  text-align: center;
}

.passport-container {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
}


.passport-card {
  width: calc(31% - 30px); /* 3 cards in a row */
  margin-left: 35px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.card-img {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: auto;

}

.card-header {
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
  color: #2C3A90;
  font-weight: 700;
}

.card-passage {
  margin: 10px 0;
  padding: 10px;
}

.card-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 20px;
}

.cards-div-passport{
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* height: 500px !important; */
}

/* Media query for mobile screens */
@media (max-width: 767px) {
  .passport-card {
    width: 100%; 
    border-radius: 10px;
    margin: 20px;
  }
}
