.costing-Header{
    padding: 20px;
    font-weight: 700;
    color: #2C3A90;
}


.table-container {
    overflow-x: auto;
    
  }
  
  .costing-responsive-table {
    width: 100%;
    border-collapse: collapse;

  }
  
  .costing-responsive-table th,
  .costing-responsive-table td {
    border: 2px solid #000;
    padding: 8px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .costing-responsive-table {
      display: block;
    }
  
    .costing-responsive-table thead {
      display: none;
    }
  
    .costing-responsive-table tbody tr {
      margin-bottom: 15px;
      display: block;
      border: 2px solid #000;
    }
  
    .costing-responsive-table td {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
      border: none;
    }
  }
  